* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.flex-primary {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}