.font-heading-xl {
    font: 800 3.5rem/1.25 'Plus Jakarta Sans', sans-serif;
}

.font-heading-l {
    font: 800 2.5rem/1.25 'Plus Jakarta Sans', sans-serif;
}

.font-heading-m {
    font: 800 2rem/1.25 'Plus Jakarta Sans', sans-serif;
}

.font-heading-s {
    font: 800 1.5rem/1.25 'Plus Jakarta Sans', sans-serif;
}

.font-body-m {
    font: 500 1.12rem/1.5 'Plus Jakarta Sans', sans-serif;
}

.font-body-s {
    font: 700 1rem/1.75 'Plus Jakarta Sans', sans-serif;
}

@media (max-width: 950px) {
    .font-heading-s {
        font: 800 1.2rem/1.25 'Plus Jakarta Sans', sans-serif;
    }

    .font-heading-xl {
        font: 800 2.5rem/1.25 'Plus Jakarta Sans', sans-serif;
    }

    .font-body-m {
        font: 500 1rem/1.6 'Plus Jakarta Sans', sans-serif;
    }
 
    .font-heading-m {
        font: 800 1.5rem/1.3 'Plus Jakarta Sans', sans-serif;
    }
}